.auth {
    background-color: white;
    margin-top: 30px;
    padding: 30px;
}
.auth input, button {
    font-size: large;
    padding: 10px;
}

.auth textarea {
    font-size: x-large;
    resize: none;
}
