.create-review {
    background-color: white;
    margin-top: 30px;
    padding: 30px;
}

.create-review select {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.create-review textarea {
    font-size: x-large;
    resize: none;
}
