.navbar {
    justify-content:left;
    background-color: darkblue;
    color: #FFF;
    height: 60px;
}
.navbar h1 {
    color: #FFF;
    font-weight: 500;
}
.navbar ul {
    margin-top: 6px;
    margin-left: 40px;
    display: flex;
    list-style-type: none;
}
.navbar a {
    color: #FFF;
    margin-left: 10px;
}

/* Mobile */
@media(max-width: 550px){
    .navbar{
        height: 110px;
    }

    .navbar .flex{
        flex-direction: column;
    }

    .navbar h1{
        margin-left: 0px;
        margin-top: 15px;
        font-size: larger;
    }

    .navbar ul{
        margin-left: 0px;
        padding: 10px;
    }
}